.pos .product .qty_avail {
    position: absolute;
    top: 2px;
    left: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background:green;
    padding: 2px 5px;
    border-radius: 2px;
}

.pos .product .qty_not_avail {
    position: absolute;
    top: 2px;
    left: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background:red;
    padding: 2px 5px;
    border-radius: 2px;
}